// Document.
// ---------

// @see https://csswizardry.com/2012/06/single-direction-margin-declarations/
html {
  background-color: $body-bg;
  color: $text-color;
  font: #{$font-size}/#{$line-height} $font-family;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}


// Block-level elements.
// ---------------------

// @see https://developer.mozilla.org/en/docs/Web/HTML/Block-level_elements

// @see https://csswizardry.com/2012/06/single-direction-margin-declarations/
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section,
h1, h2, h3, h4, h5, h6,
p, dd, ol, ul, pre, table, blockquote {
  box-sizing: border-box;
  margin: 0 0 $spacer;
}

// @see https://www.gridlover.net/
ol, ul {
  padding-left: $spacer-lg;
}
ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

hr {
  border: $border-width solid;
  margin: -$border-width 0 ($spacer - $border-width);
}

// @see https://css-tricks.com/snippets/css/make-pre-text-wrap/
pre {
  line-height: 1rem * $line-height;
  white-space: pre-wrap;
}

// Inline elements.
// ----------------

// @see https://www.gridlover.net/
a, b, i, strong, em, small, code, sub, sup {
  line-height: 0;
}

small, sub, sup {
  font-size: $font-size-sm;
}
  sub {
    vertical-align: -0.25em;
  }
  sup {
    vertical-align: 0.5em;
  }

// @see http://code.stephenmorley.org/html-and-css/fixing-browsers-broken-monospace-font-handling/
pre, code, kbd, samp, tt {
  background-color: $code-bg;
  color: $code-color;
  font-family: monospace, monospace;
  font-size: 1em;
}
code, kbd, samp, tt {
  border-radius: 0.125em;
  padding: 0.125em;
}