// Modular Scale.
// --------------

// @see http://www.modularscale.com/

h1, .h1 {
  @include modular-scale(4);
}
h2, .h2 {
  @include modular-scale(3);
}
h3, .h3 {
  @include modular-scale(2);
}
h4, .h4 {
  @include modular-scale(1);
}
h5, .h5 {
  @include modular-scale(0);
}
h6, .h6 {
  @include modular-scale(-1);
}


// Links.
// ------

a {
  &:link {
    color: $link-color;
    text-decoration: underline;
  }
  &:visited {
    color: $link-visited-color;
  }
  &:focus, &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
  &:active {
    vertical-align: -0.0625em;
  }
}
  .link--unstyled {
    &:link, &:visited {
      color: $text-color;
    }
    &:link {
      text-decoration: none;
      vertical-align: inherit;
    }
  }