// Fluid Typography.
// -----------------

// @see https://madebymike.com.au/writing/precise-control-responsive-typography/
// @see https://codepen.io/MadeByMike/pen/YPJJYv

@mixin fluid-typography(
  $font-size     : $font-size,
  $max-font-size : $max-font-size,
  $start         : $medium,
  $end           : $x-large
) {
  $delta    : 1 / strip-unit($max-font-size - $font-size);
  $spectrum : strip-unit($end - $start);

  @include respond-to('medium') {
    font-size: calc(#{$font-size} + #{$delta} * ( (100vw - #{$start}) / #{$spectrum} ));
  }
  @include respond-to('x-large') {
    font-size: $max-font-size;
  }
}