// Mixins.
// -------

// Grid container.
@mixin grid(
  $direction: row,
  $wrap: wrap,
  $align-content: null,
  $align-items: null,
  $justify-content: null
) {
  display: flex;
  flex-flow: $direction $wrap;

  align-content: $align-content;
  align-items: $align-items;
  justify-content: $justify-content;
}

// Grid column.
@mixin grid-col(
  $col: 'auto',
  $col-offset: 0,
  $grid-gutter: $grid-gutter,
  $grid-gutter-x: $grid-gutter,
  $grid-gutter-y: $grid-gutter,
  $align-self: null,
  $flex-grow: 1,
  $flex-shrink: 1,
  $order: null
) {
  @if $col == 'auto' {
    flex: $flex-grow $flex-shrink;
  } @else {
    flex: $flex-grow $flex-shrink column-width($col, $grid-gutter-x);
  }

  margin: column-margin($grid-gutter-x, $grid-gutter-y);
  @if $col-offset != 0 {
    margin-left: column-width($col-offset, -0.5 * $grid-gutter-x);
  }

  align-self: $align-self;
  order: $order;
}