// Mixins.
// -------

@mixin modular-scale(
  $exponent,
  $ms-ratio: $ms-ratio,
  $font-size: 1rem * pow($ms-ratio, $exponent)
) {
  font-size   : $font-size;
  line-height : $line-height * ceil($font-size / $line-height);
}