/**
 * 1. Set the base font size to 100%, or 16px for most browsers. Although
 *    uncommon, users can override the default browser setting, therefore it is
 *    recommended to set the base font size to at least 100% or 1em.
 * 2. The (unitless) ratio for the modular or typographic scale.
 * 3. The (unitless) common denominator used to create consistent space.
 * 4. The optimal line length for readability is 45–75 characters. One character
 *    is about 0.5em.
 *
 * Further reading:
 * - https://baymard.com/blog/line-length-readability
 * - https://nicolas-hoizey.com/2016/03/people-don-t-change-the-default-16px-font-size-in-their-browser.html
 * - https://nicolas-hoizey.com/2018/06/users-do-change-font-size.html
 * - https://zellwk.com/blog/rem-vs-em/
 * - https://zellwk.com/blog/responsive-typography/
 * - https://zellwk.com/blog/why-vertical-rhythms/
 *
 * Tools:
 * - https://www.modularscale.com/
 */
$fontSize:   1em !default; /* 1 */
$ratio:      1.25 !default; /* 2 */
$baseline:   1.5 !default; /* 3 */
$charLength: 0.5em; /* 4 */
$lineLength: $charLength * 75 !default; /* 4 */

/**
 * 1. Use system font stack.
 * 2. Attempt to use system font stack. Use Charter (current MacOS/iOS font),
 *    Georgia (if Charter is not installed on Windows/Linux).
 * 3. Attempt to use system font stack. Use Menlo (current MacOS/iOS font),
 *    Consolas (current Windows font), or default (mainly for Linux,
 *    likely customized by user).
 *
 * Further reading:
 * - https://www.client9.com/css-system-font-stack-monospace-v1/
 * - https://www.client9.com/css-system-font-stack-serif-charter-v1/
 * - https://css-tricks.com/snippets/css/system-font-stack/
 */
$sansSerif: system-ui; /* 1 */
$serif: charter, georgia, serif; /* 2 */
$monospace: menlo, consolas, monospace; /* 3 */
